* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
   

    background: url(img/volkswagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  /*seccion menu*/
.header {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; 
    background-color: #080808;
    
  }

  .header{
    background: url(img/imgfondoa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

  }
  


  h3.productos {
    font-size: 40px;
    color: #c0bfbf;
    text-transform: uppercase;
    text-align: left;
   
  }

  .tuestilo{
    display: flex;
    font-size: 3.8rem;
    color: #040404f5;
    font-weight: 200;
    text-transform: uppercase;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 70vh; 
    animation: fadeIn 6s ease infinite;
    padding-inline-end: 25px;
    
    
   
  }

@keyframes fadeIn {
    0% {
        opacity: 0; /* El texto es transparente al inicio de la animación */
    }
    100% {
        opacity: 1; /* El texto es completamente visible al final de la animación */
    }
}
  
  .img-container{
    
    /*aspect-ratio: 1/1;*/
    width: 100%;
    height: 170px;
  
    

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  /*contenido mis productos*/
  .main-container{
    display: grid;
    grid-template-columns: 1fr;
    color: #f2ec43f5;
    gap: 10px;
    padding: 15px;
    /*border: 1px solid rgb(231, 35, 231);*/
  }


  /*titulo mis productos y gregar productos*/
  h1, h2{
    text-align: center;
    padding: 20px;
    font-size: 25px;
    /*ingrsado 1 minuto*/
    color: #bcbbbb;
    animation: fadeIn 4s ease infinite;
    text-transform: uppercase;
    background: #181818;
    border-radius: 10px;
  }

@keyframes fadeIn {
    0% {
        opacity: 0; 
    }
    100% {
        opacity: 1; 
    }
}

  h2{
    padding-right: 25px;
  }
  

  .inputs {
    display: flex;
    gap: 5px;
    padding: 50px;
    
    
  }

/*agregar productos*/
.form-container,
input {
  height: 40px;
  display: flex;
  padding: 10px;
  text-align: center;
  margin: 30px;
  width: 420px;
  border-radius: 25px; 
  
}

  /*botones limpiar enviar*/
  .button-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: 40px;
    width: 435px;
    
  }

  .button-submit, .button-clear{
    padding: 10px;
    color: #000;
    width: 100%;
    border-bottom: 50px;
   
}

.button-clear{
  border-end-start-radius: 25px;
}

.button-submit{
  border-end-end-radius: 25px;
}


/*inputs agregar productos*/
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0567a4;
    border-radius: 10px;
    
    
}


/*contenido mis productos*/
.products-container::-webkit-scrollbar-track{
  background-color: #f5f5f5f5;
}

.products-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}


.card {
  
  background: url(img/gris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    color: #050000f5;

    width: 100%;
    padding: 10px;

    border-radius: 5px;
    border: 3px solid rgb(8, 8, 8);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    img{
      width: 100%;
      pointer-events: none;
    }
}



.card-container--info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


  
  /*seccion footer*/
  footer {
    background: url(img/fondo\ u.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    padding: 210px;
    text-align: center;
    color: #0a94e9f5;
    font-size: 50px;
  }


  .columna-misproductos{
    border: 1px solid #0000;
  }


  .columna-agregarproductos{
    /*border: 1px solid blue;*/
    
 }


  @media (width > 720px) {
    .main-container {
      grid-template-columns: 1fr 1fr;
    }
    .columna-misproductos {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  
    .columna-agregarproductos {
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
  
  @media (width > 1200px) {
    .product-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
