* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    height: 100%;
    background: url(img/gris2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   } 

  /*seccion menu*/
.header{
    position: relative;
    height: 100vh; 
    background-color: #abaaaa;
    background: url(img/fotom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
  }
  


  .productos {
    font-size: 10px;
    color: #525252;
    text-transform: uppercase;
    padding: 10px;
   
  }

  .p{
    
    font-size: 40px;
    color: #dee0e1f5;
    text-transform: uppercase;
    
    
    font-weight: 600;
    
    position:absolute;
    top: 50px;
    right: 40px;
    width: 200px;
    text-align: end;

    @media (width> 550px) {
      top: 50%;
      right: 40px;
      width: 60%;
      text-align: center;
      font-size: 70px;
    }


    
  }

.img-container{
    
    /*aspect-ratio: 1/1;*/
    width: 100%;
    height: 170%;
  
    

    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  /*contenido mis productos*/
  .main-container{
   
    color: #f2ec43f5;
    gap: 10px;
    
    /*border: 1px solid rgb(231, 35, 231);*/
  }


  /*titulo mis productos y gregar productos*/
  h1, h2{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    /*ingrsado 1 minuto*/
    color: #000505;
    text-transform: uppercase;
    border-radius: 10px;
  
    
  }


  h2{
    padding-right: 25px;
    
    
  }
  

/*agregar productos*/
.form-container {
flex-direction: column;
  display: flex;
  padding: 100px;
  text-align: center;
  margin: 30px;
  width: 100%;
  border-radius: 25px; 

  
 
  
}

  /*botones limpiar enviar*/
  .button-container {
    padding: 10px;
    display: flex;
    width: 100%;
    justify-content: center;
    max-width: 400px;
    border-radius: 25px;
    gap: 10px;
  }

  .button-submit, .button-clear{
    padding: 8px;
    color: #000;
    width: 80%;
   border-radius: 25px;
   width: max-content;
   font-weight: 600;
}

.button-clear{
  border-end-start-radius: 25px;
  width: 90px;
}

.button-submit{
  border-end-end-radius: 25px;
  width: 90px;
}


/*inputs agregar productos*/
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
  
    
    background: url(img/volkswagen.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    gap: 3rem;
    padding: 5rem 1rem;

    input{
      padding: 0.5rem;
      border-radius: 1.25rem;
      width: 30%;
      
      &::placeholder{
        color: #040101;
        background: #dcdcdccc;
        font-weight: 600;

      }
    }


}


/*contenido mis productos*/
.products-container::-webkit-scrollbar-track{
  background-color: #f5f5f5f5;
}

.products-container{
  display: grid;
  /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
  grid-template-columns: 1fr 1fr;

  @media (width > 920px ) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


.card {
  
  background: url(img/fondoul.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
    color: #f8f8f8f5;

    width: 100%;
    padding: 10px;

    border-radius: 5px;
    border: 3px solid rgb(252, 248, 248);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    img{
      width: 100%;
      pointer-events: none;
    }
}



.card-container--info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


  
  /*seccion footer*/
  footer {
   background: #c4c3c3;
    
    padding: 25px;
    text-align: center;
    color: #030303f5;
    font-size: 10px;
  }






